html {
    color: #353b48;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#menu li {
    display: inline;
    padding: 24px;
}

#menu li a {
    text-decoration: none;
    color: #353b48;
}

#menu li a:hover {
    color: #fff200;
}

.p-30 {
    padding: 30px;
}

.br-50 {
    border-radius: 50%;
}

.wh-300 {
    width: 300px;
    height: 300px
}

.tm-social {
    width: 32px;
    height: 32px;
}

.mb-50 {
    margin-bottom: 50px;
}

.ml-50 {
    margin-left: 50px;
}